<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test parallel="methods" thread-count="2" verbose="2" preserve-order="true" name="C:/Users/User/Documents/Automation/New folder/QAAssignment3/src/test">
        <classes>

            <class name="TestCases.ParallelExecutionTestcase">
                <methods>
                    <include name="searchCameraTC"/>
                    <include name="searchWatchTC"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>